body {
  background-image: url('./image/240_F_394793630_n4mZQY784HGNkh1ch8ymZUO3OqxefDRI.jpg');
  background-size: cover;
}

button {
  width: 90%;
  margin: 4px !important;
}

input[type='text'] {
  margin-top: 3px;
  width: 96%;
  margin-left: 6px;
}
